body {
   text-align: center; 
   background: rgb(182, 178, 225);
   
}

.card {
    border: grey solid 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 3px 4px black;
    text-align: left;
    overflow: hidden; /* Clip overflowing content */
}

.random-btn {
    background-color: rgb(240, 240, 246);
   }